<!DOCTYPE html>
<html>
<head>
  <title>WYNSHOPPE</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<!-- Begin Header -->
<header>
  <center><h1><%= link_to "WYNSHOPPE", root_path %></h1></center>
</header>
<!-- End Header -->
  <body>
    <!-- <div class="containter"> -->
      <div class="row">
        <div class="col-xs-6">
          <h4 style="color:orange;">THE ART OF SHOPPING</h4>
        </div>
        <div class="col-xs-6 text-right">
          <h1 class-"cart-text"><%= render 'layouts/cart_text' %></h1>
        </div>
      </div>
      <hr>
      <nav class="navbar navbar-inverse sidebar" role="navigation">
          <div class="container-fluid">
      		<!-- Brand and toggle get grouped for better mobile display -->
      		<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
      				<span class="sr-only">Toggle navigation</span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href="../products/index">WYNSHOPPE<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-hand-right"></span></a>
      		</div>
      		<!-- Collect the nav links, forms, and other content for toggling -->
      		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      			<ul class="nav navbar-nav">
      				<li class="active"><a href="/">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
      				<li ><a href="../products/index">Catalog<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-gift"></span></a></li>
      				<li ><a href="../cart/">Shopping Cart<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a></li>
      				<li class="dropdown">
      					<ul class="dropdown-menu forAnimate" role="menu">
      						<li><a href="#">Action</a></li>
      						<li><a href="#">Another action</a></li>
      						<li><a href="#">Something else here</a></li>
      						<li class="divider"></li>
      						<li><a href="#">Separated link</a></li>
      						<li class="divider"></li>
      						<li><a href="#">One more separated link</a></li>
      					</ul>
      				</li>
      			</ul>
      		</div>
      	</div>
      </nav>
      <div>
      </div>

    <%= yield %>
  </div>
  </body>

  <!-- Begin footer -->
  <div class="footer-wrapper wrapper">
    <footer>
      <div class="row">

        <!-- Begin copyright -->
        <div class="span12 tc copyright">
          <a href="/">Return Policy</a>
          <p>Copyright &copy; 2017 WYNSHOPPE &amp; CO</p>
        </div>
        <!-- End copyright -->

      </div>
    </footer>
  </div>
  <!-- End footer -->


</html>
